# PROJECT

##  For the suburb Altona, it is postulated that a typical property sells for $800,000.

### Use the data at hand to test this assumption. Is the typical property price really $800,000 or has it increased? Use a significance level of 5%.

In [3]:
import pandas as pd
from scipy.stats import ttest_1samp

# Load the dataset
df = pd.read_excel(r"C:\Users\LENOVO\Downloads\property.xlsx")

df.head(10)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,2016-03-12 00:00:00,2.5,3067,...,1,1.0,202,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019
1,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,2016-04-02 00:00:00,2.5,3067,...,1,0.0,156,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019
2,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,2017-04-03 00:00:00,2.5,3067,...,2,0.0,134,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019
3,Abbotsford,40 Federation La,3,h,850000,PI,Biggin,2017-04-03 00:00:00,2.5,3067,...,2,1.0,94,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019
4,Abbotsford,55a Park St,4,h,1600000,VB,Nelson,2016-04-06 00:00:00,2.5,3067,...,1,2.0,120,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019
5,Abbotsford,129 Charles St,2,h,941000,S,Jellis,2016-07-05 00:00:00,2.5,3067,...,1,0.0,181,NaN,NaN,Yarra,-37.8041,144.9953,Northern Metropolitan,4019
6,Abbotsford,124 Yarra St,3,h,1876000,S,Nelson,2016-07-05 00:00:00,2.5,3067,...,2,0.0,245,210.0,1910.0,Yarra,-37.8024,144.9993,Northern Metropolitan,4019
7,Abbotsford,98 Charles St,2,h,1636000,S,Nelson,2016-08-10 00:00:00,2.5,3067,...,1,2.0,256,107.0,1890.0,Yarra,-37.8060,144.9954,Northern Metropolitan,4019
8,Abbotsford,6/241 Nicholson St,1,u,300000,S,Biggin,2016-08-10 00:00:00,2.5,3067,...,1,1.0,0,NaN,NaN,Yarra,-37.8008,144.9973,Northern Metropolitan,4019
9,Abbotsford,10 Valiant St,2,h,1097000,S,Biggin,2016-08-10 00:00:00,2.5,3067,...,1,2.0,220,75.0,1900.0,Yarra,-37.8010,144.9989,Northern Metropolitan,4019

In [4]:


# Filter for suburb Altona and remove null prices
altona_prices = df.loc[df['Suburb'] == 'Altona', 'Price'].dropna()

# Perform one-sample t-test
null_hypothesis_price =  500000
t_stat, p_value = ttest_1samp(altona_prices, null_hypothesis_price)

# Conclusion
if p_value / 2 < 0.05 and t_stat > 0:  # One-tailed test
    print(f"Reject the null hypothesis. The typical price is higher than $500,000.")
else:
    print(f"Fail to reject the null hypothesis. The typical price is not significantly higher than $500,000.")

Reject the null hypothesis. The typical price is higher than $500,000.

In [5]:
from scipy.stats import ttest_ind

# Filter data for 2016
df['Date'] = pd.to_datetime(df['Date'])
df_2016 = df[df['Date'].dt.year == 2016]

# Separate summer (April to September) and winter (October to March) prices
summer_prices = df_2016[df_2016['Date'].dt.month.isin([4, 5, 6, 7, 8, 9])]['Price'].dropna()
winter_prices = df_2016[df_2016['Date'].dt.month.isin([10, 11, 12, 1, 2, 3])]['Price'].dropna()

# Perform two-sample t-test
t_stat, p_value = ttest_ind(summer_prices, winter_prices, equal_var=False)

# Conclusion
if p_value < 0.05:
    print("There is a significant difference in property prices between summer and winter.")
else:
    print("There is no significant difference in property prices between summer and winter.")

There is a significant difference in property prices between summer and winter.

In [6]:
from scipy.stats import binom

# Calculate the probability of no car parking in Abbotsford
abbotsford = df[df['Suburb'] == 'Abbotsford']
p_no_parking = (abbotsford['Car'].isna().sum()) / len(abbotsford)

# Binomial probability
n, k = 10, 3
probability = binom.pmf(k, n, p_no_parking)

print(f"Probability of 3 out of 10 properties having no parking: {probability:.3f}")

Probability of 3 out of 10 properties having no parking: 0.000

In [7]:
# Filter Abbotsford properties
prob_3_rooms = len(abbotsford[abbotsford['Rooms'] == 3]) / len(abbotsford)

print(f"Probability of finding a property with 3 rooms in Abbotsford: {prob_3_rooms:.3f}")

Probability of finding a property with 3 rooms in Abbotsford: 0.357

In [8]:
# Probability of a property with 2 bathrooms
prob_2_bathrooms = len(abbotsford[abbotsford['Bathroom'] == 2]) / len(abbotsford)

print(f"Probability of finding a property with 2 bathrooms in Abbotsford: {prob_2_bathrooms:.3f}")

Probability of finding a property with 2 bathrooms in Abbotsford: 0.339